<div class="container">
<span class="text-center">
    <h1 [innerText]="portfolio.firstName + ' '+ portfolio.lastName"></h1>
    <h2 class="subHeading" [innerText]="portfolio.subHeading"></h2>
    <img src="./assets/img/me copy 2.jpg" alt="Profile picture of me." class="rounded-circle mx-auto d-block smallerImg">
</span>

<div class="row justify-content-center">
    <a [href]="social.link " class="p-2" target="blank" *ngFor="let social of portfolio.socialMedia">
        <i [style.color] ="social.color" [class]="social.icon" ></i>
    </a>
</div>
<h4 [innerText]="portfolio.introduction" class="text-center"></h4>
<div>
    <h3>
        <i (click)="toggleOpen('logOpen')" *ngIf="logOpen; else logExpand" class="fa fa-plus"></i>
        <ng-template #logExpand>
            <i class="fa fa-minus" (click)="toggleOpen('logOpen')"></i>
        </ng-template>
        ChangeLog
    </h3>
    <p class="description">Teaching myself web development/ software development has been an interesting task to accomplish. Here are some of my highlights.</p>
    <div *ngIf="!logOpen" [@fadeInOut]>
        <ul>
            <li *ngFor="let change of portfolio.changeLog" [ngStyle]="{'color': change.color}">
                <div [innerText]="change.month + ' - '+ change.year"></div>
                <div (mouseenter)="change.showDetails = true" (mouseleave)="change.showDetails = false" 
                [innerText]="change.highLight"></div>
                <div *ngIf="change.showDetails" class="changeLogDetails" [@fadeInOut] [innerText]="change.details">
                </div>
             </li>
        </ul>
    </div>
</div>

<div>
    <h3>
        <i class="fa fa-plus" *ngIf="updateOpen; else updateExpand" (click)="toggleOpen('updateOpen')"></i>
        <ng-template #updateExpand> 
            <i class="fa fa-minus" (click)="toggleOpen('updateOpen')"></i>
        </ng-template>
        Updates/Releases      
    </h3>      
    <p class="description">Here are some updates of my progress.</p>   
    <div *ngIf="!updateOpen" [@fadeInOut]>
        <ul>
            <portfolio-update *ngFor="let update of portfolio.updates" [update]="update"></portfolio-update>
        </ul>
    </div>                             
</div>

<div>
    <h3>
        <i class="fa fa-plus" (click)="toggleOpen('bioOpen')" *ngIf="bioOpen; else bioExpanded"></i>
        <ng-template #bioExpanded>
            <i class="fa fa-minus" (click)="toggleOpen('bioOpen')"></i>
        </ng-template>
        Speaker Bio
    </h3>
    <p class="description">A little about me.</p> 
    <div *ngIf="!bioOpen" class="speakerBio p-5 mb-5" [@fadeInOut] [innerText]="portfolio.speakerBio">
    </div>
</div>
</div>
